.VoteContainer {
    max-width: 100vw;
    width: 640px;
}

.CandidatePanel .CandidatePanelButton {
    width: 100%;
}

.EditableVoteOptionHeader {
    display: flex;
}

.EditableVoteOptionHeader .MuiFormControl-root {
    flex-grow: 1;
}

.VoteOption {
    word-break: break-word;
    overflow-wrap: anywhere;
}

.VoteDescription {
    text-align: justify;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.VoteOptionDescription {
    text-align: justify;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.VoteResultPanel {
    display: flex;
}

.VoteResultPanel .VoteDescriptionPanel {
    flex-grow: 1;
}

.VoteResultPanel .VoteOutcomePanel {
    margin-top: 0.3em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
}
