.ImplicitLink, .ImplicitLink:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    display: inline-flex;
}

.AppBarFiller {
    flex-grow: 1;
}
