.BallotDotsOuterPanel {
    display: flex;
    flex-direction: row;
}

.BallotDotsInnerPanel {
    display: flex;
    flex-wrap: wrap;
    flex-basis: min-content;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
