.CandidatePanel {
    margin: 1.5em;
}

.CandidatePanel.SelectedCandidatePanel {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: white;
}

.CandidatePanelContents {
    margin: 1.5em;
}

.CandidateResultPanel {
    display: flex;
}

.CandidateResultPanel .CandidateDescriptionPanel {
    flex-grow: 1;
}

.CandidateResultPanel .CandidateOutcomePanel {
    margin-top: 0.3em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
}
